/* Estilos CSS para el formulario */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f500;
    color: #ffffff;
    margin: 0;
    padding: 0;
    background-image: url(/CENTRO\ MEDICO/Imagenes/fondo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /*background-color: #999;*/
    

}

header, footer {
    background-color: #06306800;
    /*color: #fff;*/
    padding: 20px;
    border-radius: 15px;
}

footer{
    position:relative;
    bottom: 0;
    width: 100%;
    
}

footer p {
    text-align: center;
    
}

h1,
h2 {
    margin-top: 20px;
    text-align: center;
}

main {
    width: 90%;
    margin: auto;
}

li{
    list-style: none;
    display: inline-block;
    padding: 20px;
}

.container-form{
    max-width: 60%;
    margin: auto;
    display: grid;
}

.col-6{
    margin: auto;
    border-radius: 15px;
}

.nav-link{
    margin: auto;
    border-radius: 15px;
    border-color: rgb(221, 68, 29);
    background-color: #3e8e41
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
    border: 4px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    font-family: sans-serif;
    box-sizing: border-box;
}

.btn-outline-light{
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 25px;
    font-size: 15px;
    font-family: sans-serif; 
    border-width: 3px;
}

/*input[type="submit"],
input[type="button"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 20px;
    font-size: 16px;
    font-family: sans-serif;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}
*/
span {
    color: red;
}

/* Estilos CSS para las tablas */
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
    font-family: sans-serif;
    margin-bottom: 30px;
}

th,td {
    padding: 10px;
    text-align: center;
    border: 5px solid #191277;
    background-color: #042170a1;
}

td {
    color: #eeeef8;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.tabla-container {
    max-width: 80%;
}

.listado-container {
    max-width: 70%;
}
.boton-container {
    margin-block: 50px;
}

a{
    text-decoration: none;
}
.listado-servicios a {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold ;
}

.nav-pills{
    border-radius: 10px;
    cursor: pointer;
    padding: 3px 20px;
    font-family: sans-serif; 
    border-width: 3px;
    font-size: 16px;
    font-weight: bold ;
}
